<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <p><a href= "/">index</a></p>
    <p><a href= "/quizzes">quizzes</a></p>
    <p><a href= "/credits">créditos</a></p>
    <p>JUAN JOSE HERRERO BERMEJO</p>
    
    <img src="http://www.escudosdeplasencia.com/wp-content/uploads/2017/12/1-CE-Catedral-Panorama-de-tres-web-1024x936.jpg">
  </body>
</html>
